{% extends 'base.html' %}

{% block conteudo %}
<main class="text-center mt-1">
    <h2 class="ml11">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letters text-black">Ana Roberta Andrade</span>
        </span>
      </h2>
 <div class="">
    <img src="{{url_for('static',filename='img/foto_anaroberta_potfolio.jpg')}}" class="shadow-sm p-2 mb-3 bg-light rounded-circle" alt="..." width="200" height="200">
  </div>
  <div class="text-black">
  <p>Bem-vindo ao meu site!<br> Aqui você encontrará informações valiosas sobre produtos<br>e serviços, bem como notícias e atualizações sobre<br>Designer. Navegue pelas páginas para descobrir<br>como posso ajudá-lo e não hesite em entrar em<br>contato comigo se tiver alguma dúvida.<br>Obrigada pela visita!
  </div>
</main>
{% endblock %}