{% extends 'base.html' %}

{% block conteudo %}
     <main class="text-center mt-5 text-black">
        <h2>Sobre</h2>
     <div class="">
        <div class="text-black">
            <p>Olá, me chamo Ana Roberta e há cerca de 8 anos conclui o curso de Designer gráfico<br>com especialização em Designer de interação.<br>Após esses anos atuando na área senti a necessidade de aprimorar os meus conhecimentos<br>e iniciei um curso de programador de sistemas, buscando trabalhar<br>como front-end em empresas na área de tecnologia.<br>
            </div>
        </main>
     <footer class="text-center fixed-bottom text-black">
        <p>Criado por <a href="https://github.com/anarobertaandrade" target="_blank">Roberta Andrade</a></p>
     </footer>
 </div>
 {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</body>
</html>